.red {
  color: #cb0000;
}

.card {
  margin: 0 24px 24px 24px;
}

.card-block ul {
  list-style: none;
}

.issueC {
  transition: all .2s;
}

.issueC:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.the_pic {
  text-align: center;
}

.the_pic > img {
  //max-height: 300px;
  max-width: 50%;
}

.commentsSection {
  margin: 0 24px 24px 24px;
}

#status {
  max-width: 200px;
  //margin-bottom: 3px;
  margin: 0 auto;
}

.toggleEdit {
  margin-bottom: 10px;
}