<button *ngIf="detail" class="btn btn-outline-warning active toggleEdit" type="button" (click)="_location.back()">Go
    Back
</button>
<div *ngIf="!edit">
    <div class="card" [class]="!detail ? 'issueC' : ''" (click)="goToDetail()">
        <div class="card-header text-sm-center">
            {{studyGroup.title}}
        </div>
        <div class="card-block">
            <ul>
                <li *ngIf="isOwner && detail" class="text-xs-center">
                    <button class="btn btn-outline-info active toggleEdit" type="button" (click)="edit = !edit">Edit
                        Your
                        Study Group
                    </button>
                    <button class="btn btn-outline-danger active toggleEdit" type="button" (click)="deleteStudyGroup()">
                        Delete
                        Your
                        Study Group
                    </button>
                </li>
                <li *ngIf="!isOwner && detail" class="text-xs-center">
                    <button class="btn btn-outline-info active toggleEdit" type="button" (click)="rsvp()">RSVP To This
                        Study Group
                    </button>
                </li>
                <li>
                    Author: {{studyGroup.name}}
                </li>
                <li>
                    Email: {{studyGroup.email}}
                </li>
                <li>
                    Location: <span
                        *ngIf="studyGroup.location && studyGroup.location.code !== ''">{{studyGroup.location.code}}</span><span
                        *ngIf="studyGroup.location && studyGroup.location.room !== ''">{{studyGroup.location.room}}</span>
                    <span *ngIf="studyGroup.location && studyGroup.location.name !== ''">({{studyGroup.location.name}})</span>
                    <span *ngIf="studyGroup.location && studyGroup.location.extra !== ''">[{{studyGroup.location.extra}}]</span>
                </li>
                <li>
                    Description: {{studyGroup.description}}
                </li>
                <li *ngIf="studyGroup.time.start">
                    Start: {{studyGroup.time.start | date:'medium'}}
                </li>
                <li *ngIf="studyGroup.time.end">
                    End: {{studyGroup.time.end | date:'medium'}}
                </li>
                <li class="the_pic">
                    <img *ngIf="picture!=='' && detail" [src]="picture">
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="detail" class="commentsSection">
        <div *ngFor="let comment of studyGroup.comments">
            <div [class]="comment.isAdmin ? 'col-md-8 offset-md-4 col-sm-12' : 'col-md-8 col-sm-12'">
                <div [class]="comment.isAdmin ? 'card card-inverse card-danger' : 'card card-inverse card-primary'">
                    <div class="card-header">
                        Posted By: {{comment.name}}
                    </div>
                    <div class="card-block">
                        {{comment.text}}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
            <textarea name="textarea-input" rows="5" class="form-control" placeholder="Add a comment.."
                      [(ngModel)]="newComment"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button class="btn btn-outline-primary active" type="button" (click)="addComment()">Add Comment</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="edit">
    <sg-form [studyGroup]="studyGroup" (save)="edit=!edit" (picChange)="saveAndUpdatePic()"></sg-form>
</div>