<div class="card">
    <div class="card-header">
        <strong>{{form_title}}</strong>
        <small>Form</small>
    </div>
    <div class="card-block">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group text-md-center text-sm-center">
                <label for="isAnon">Post Anonymously?</label><br/>
                <label class="switch switch-text switch-primary">
                    <input id="isAnon" formControlName="isAnonymous" type="checkbox" class="switch-input" checked>
                    <span class="switch-label" data-on="Yes" data-off="No"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" formControlName="title" class="form-control" id="title"
                       placeholder="Enter issue title">
            </div>
            <div class="form-group">
                <label for="priority">Priority</label>
                <select id="priority" formControlName="priority" class="form-control" size="1">
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select id="status" formControlName="status" *ngIf="update" class="form-control" size="1">
                    <option value="Opened">Opened</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Resolved">Resolved</option>
                </select>
                <span *ngIf="!update">: <strong class="red">New Issue</strong></span>
            </div>
            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="description">Description</label>
                <div class="col-md-9">
                    <textarea id="description" formControlName="description" name="textarea-input" rows="9"
                              class="form-control" placeholder="Description of issue.."></textarea>
                </div>
            </div>
            <div class="form-group" formGroupName="location">
                <label>Where did the issue occur?</label>
                <div class="form-group row">
                    <div class="col-md-8">
                        <div class="radio">
                            <label for="bcode">
                                <input type="radio" id="bcode" formControlName="type" (click)="getLocList('bcode')"
                                       value="bcode">By Building Code
                            </label>
                        </div>
                        <div class="radio">
                            <label for="bname">
                                <input type="radio" id="bname" formControlName="type" (click)="getLocList('bname')"
                                       value="bname">By Building Name
                            </label>
                        </div>
                        <div class="radio">
                            <label for="bother">
                                <input type="radio" id="bother" formControlName="type"
                                       value="other" (click)="getLocList('other')">Manual
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" *ngIf="form.value.location.type === 'bcode'">
                    <label>Building Code</label>
                    <select formControlName="code"
                            class="form-control" (ngModelChange)="getNameList($event)">
                        <option *ngFor="let t of locList"
                                [ngValue]="t">
                            {{t}}
                        </option>
                    </select>
                    <div *ngIf="form.value.location.code !== ''">
                        <label>Building Name</label>
                        <select formControlName="name"
                                class="form-control">
                            <option *ngFor="let t of nameList"
                                    [ngValue]="t">
                                {{t}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12" *ngIf="form.value.location.type === 'bname'">
                    <label>Building Name</label>
                    <select formControlName="name"
                            class="form-control">
                        <option *ngFor="let t of locList"
                                [ngValue]="t">
                            {{t}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-12" *ngIf="form.value.location.type === 'other'">
                    <label>Other Location</label>
                    <input type="text" formControlName="name" class="form-control">
                    <label>Room (if applicable)</label>
                    <input type="text" formControlName="room" class="form-control">
                </div>
                <div class="col-sm-12"
                     *ngIf="form.value.location.type !== 'other' && (form.value.location.name !== '' || form.value.location.code !== '')">
                    <label>Room (if applicable)</label>
                    <input type="text" formControlName="room" class="form-control">
                    <label>Further Description</label>
                    <input type="text" formControlName="extra" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label>When did this occur?</label><br>
                <p-calendar formControlName="time" showTime="showTime" hourFormat="12"></p-calendar>
            </div>
            <div class="form-group">
                <div *ngIf="the_pic !== ''">
                    <img [src]="the_pic">
                </div>
                <div>
                    <label *ngIf="the_pic === ''">Picture Upload</label><label *ngIf="the_pic !== ''">Change
                    Picture</label><br>
                    <input type="file" id="filebutton" value="upload" #filebtn (change)="photoInputChange($event)">
                </div>
                <div class="form-group text-sm-center">
                    <button type="submit" class="btn btn-success"><i class="fa fa-magic"></i>&nbsp; <span
                            *ngIf="!issue">Post</span><span *ngIf="issue">Update</span> Issue
                    </button>
                </div>
            </div>
            <!--/row-->
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <pre>
            {{form.value|json}}
        </pre>
    </div>
</div>
