<div class="container d-table">
    <div class="d-100vh-va-middle">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form form [formGroup]="form" (ngSubmit)="onSubmit()" class="card mx-2">
                    <div class="card-block p-2">
                        <h1>Profile Set Up</h1>
                        <div [hidden]="subjects.length === 0">
                            <p class="text-muted"></p>
                            <div class="form-group row">
                                <label class="col-md-4 form-control-label">Student or Administrator?</label>
                                <div class="col-md-8">
                                    <div class="radio">
                                        <label for="student">
                                            <input type="radio" id="student" formControlName="type"
                                                   value="student">Student
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="admin">
                                            <input type="radio" id="admin" formControlName="type"
                                                   value="admin">Administrator
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" [hidden]="form.value.type !== 'student'">
                                <p>What Classes Are You Taking?</p>
                                <div formArrayName="classes">
                                    <div *ngFor="let aclass of classArr.value; let i=index">
                                        <div class="form-group row" [formGroupName]="i">
                                            <div class="col-sm-12">
                                                <label>Subject</label>
                                                <select formControlName="subject"
                                                        class="form-control">
                                                    <option *ngFor="let t of subjects" [ngValue]="t">
                                                        {{t}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-12" [hidden]="form.value.classes[i].subject === ''">
                                                <label>Course</label>
                                                <select formControlName="number"
                                                        class="form-control">
                                                    <option *ngFor="let t of subjects_numbers[form.value.classes[i].subject]"
                                                            [ngValue]="t">
                                                        {{t}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-12" *ngIf="form.value.classes[i].number !== ''">
                                                <label>Title</label>
                                                <select formControlName="title"
                                                        class="form-control">
                                                    <option *ngFor="let t of classes_dict[form.value.classes[i].subject][form.value.classes[i].number]"
                                                            [ngValue]="t">
                                                        {{t}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-12 remBtn">
                                                <button type="button" class="btn btn-primary" (click)="removeClass(i)">
                                                    <i
                                                            class="fa fa-minus"></i>&nbsp; Remove Class
                                                </button>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary" (click)="addClass()"><i
                                        class="fa fa-plus"></i>&nbsp; Add Class
                                </button>
                            </div>
                            <button type="submit" class="btn btn-block btn-success">Create Account</button>
                        </div>
                    </div>
                    <div class="text-sm-center" [hidden]="subjects.length !== 0">
                        <h2>loading...</h2>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
