.googleButton {
  margin-top: 20px;
}

.logincontainer{
  width:100%;
  //background:url("/assets/img/images/loginbackground.png");
  background:rgba(0,0,0,0.2);
  position:relative;
}

.loginbackground{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url(/assets/img/images/loginbackground.png);
  background-size:cover;
  display: block;
}

.logincard{
  border-radius: 10px;
  text-align:center;
  background: rgba(0,46,90,0.95);
  color: white;
  border: 0px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

.loginbutton{
  border-radius:10px;
  background:#b10e23;
  border:0px;
  display: inline-block;
  width: auto;
  padding: 20px 30px;
  transition: all ease .5s;
}
.loginbutton:hover{
  padding: 22px 33px;
}

.logincardsizer{
    margin: auto;
  }
}
