<div class="container d-table logincontainer">
  <div class="loginbackground"></div>
    <div class="d-100vh-va-middle">
        <div class="row" style="max-width:100%;">
            <div class="loginbox">
                <div class="logincardsizer card-group">
                    <div class="card p-2 logincard">
                        <div class="card-block">
                            <h1>Login</h1>
                            <!--<p class="text-muted">Sign In to your account</p>-->
                            <!--<div class="input-group mb-1">-->
                                <!--<span class="input-group-addon"><i class="icon-user"></i>-->
                                <!--</span>-->
                                <!--<input type="text" class="form-control" placeholder="Username">-->
                            <!--</div>-->
                            <!--<div class="input-group mb-2">-->
                                <!--<span class="input-group-addon"><i class="icon-lock"></i>-->
                                <!--</span>-->
                                <!--<input type="password" class="form-control" placeholder="Password">-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-6">-->
                                    <!--<button type="button" class="btn btn-primary px-2">Login</button>-->
                                <!--</div>-->
                                <!--<div class="col-xs-6 text-xs-right">-->
                                    <!--<button type="button" class="btn btn-link px-0">Forgot password?</button>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <!--<h4>You must use an FAU email address to use OwlVision</h4>-->
                                    <button type="button" (click)="signInWithGoogle()" class="btn btn-warning btn-lg btn-block googleButton loginbutton">Sign In with
                                      <i class="fa fa-google" aria-hidden="true"></i>oogle
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">-->
                        <!--<div class="card-block text-xs-center">-->
                            <!--<div>-->
                                <!--<h2>Sign up</h2>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
                                    <!--incididunt ut labore et dolore magna aliqua.</p>-->
                                <!--<button type="button" (click)="goToRegistration()" class="btn btn-primary active mt-1">Register Now!</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
