<button *ngIf="detail" class="btn btn-outline-warning active toggleEdit" type="button" (click)="_location.back()">Go
    Back
</button>
<div *ngIf="!edit">
    <div class="card" [class]="!detail ? 'issueC' : ''" [ngClass]="accentColor[issue.priority]" (click)="goToDetail()">
        <div class="card-header text-xs-center">
            {{issue.title}}
            <span [ngClass]="statusColor[issue.status]" class="tag float-xs-left">{{issue.status}}</span>
            <span [ngClass]="priorityColor[issue.priority]"
                  class="tag tag-pill float-xs-right">{{issue.priority}}</span>
        </div>
        <div class="card-block">
            <ul>
                <li *ngIf="isOwner && detail" class="text-xs-center">
                    <button class="btn btn-outline-info active toggleEdit" type="button" (click)="edit = !edit">Edit
                        Your
                        Issue
                    </button>
                    <button class="btn btn-outline-danger active toggleEdit" type="button" (click)="deleteIssue()">
                        Delete
                        Your
                        Issue
                    </button>
                </li>
                <li *ngIf="isAdmin && detail" class="text-xs-center">
                    <!--<label for="status">Update Status</label>-->
                    <select id="status" [ngModel]="status" class="form-control" size="1"
                            (ngModelChange)="updateStatus($event)">
                        <option ngValue="Opened">Opened</option>
                        <option ngValue="In Progress">In Progress</option>
                        <option ngValue="Resolved">Resolved</option>
                    </select>
                </li>
                <li>
                    Author: {{issue.isAnonymous ? 'Anonymous' : issue.name}}
                </li>
                <li>
                    Email: {{issue.email}}
                </li>
                <li>
                    Location: <span
                        *ngIf="issue.location && issue.location.code !== ''">{{issue.location.code}}</span><span
                        *ngIf="issue.location && issue.location.room !== ''">{{issue.location.room}}</span>
                    <span *ngIf="issue.location && issue.location.name !== ''">({{issue.location.name}})</span>
                    <span *ngIf="issue.location && issue.location.extra !== ''">[{{issue.location.extra}}]</span>
                </li>
                <li>
                    Description: {{issue.description}}
                </li>
                <li>
                    Time: {{issue.time | date:'medium'}}
                </li>
                <li class="the_pic">
                    <img *ngIf="picture!=='' && detail" [src]="picture">
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="detail" class="commentsSection">
        <div *ngFor="let comment of issue.comments">
            <div [class]="comment.isAdmin ? 'col-md-8 offset-md-4 col-sm-12' : 'col-md-8 col-sm-12'">
                <div [class]="comment.isAdmin ? 'card card-inverse card-danger' : 'card card-inverse card-primary'">
                    <div class="card-header">
                        Posted By: {{comment.name}}
                    </div>
                    <div class="card-block">
                        {{comment.text}}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
            <textarea name="textarea-input" rows="5" class="form-control" placeholder="Add a comment.."
                      [(ngModel)]="newComment"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button class="btn btn-outline-primary active" type="button" (click)="addComment()">Add Comment</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="edit">
    <issue-form [issue]="issue" (save)="edit=!edit" (picChange)="saveAndUpdatePic()"></issue-form>
</div>