<div class="card" [class]="!detail ? 'issueC' : ''" [ngClass]="accentColor[issue.priority]" (click)="goToDetail()">
    <div class="card-header text-sm-center">
        {{issue.title}}
        <span [ngClass]="statusColor[issue.status]" class="tag float-xs-left">{{issue.status}}</span>
        <span [ngClass]="priorityColor[issue.priority]" class="tag tag-pill float-xs-right">{{issue.priority}}</span>
    </div>
    <div class="card-block">
        <ul>
            <li>
                Author: {{issue.isAnonymous ? 'Anonymous' : issue.name}}
            </li>
            <li>
                Email: {{issue.email}}
            </li>
            <li>
                Location: {{issue.location}}
            </li>
            <li>
                Description: {{issue.description}}
            </li>
            <li>
                <img class="the_pic" *ngIf="picture!=='' && detail" [src]="picture">
            </li>
        </ul>
    </div>
</div>