// Here you can add other styles

@media (min-width: 992px) {
  .mobile-only{
    display:none;
  .cardtime, .cardauthor{
    text-align: center;
  }
  }
@media (max-width: 500px) {
  .mobile-disabled{
    display:none;
  }
}

  body:not(.top-nav) .sidebar {
    display: none !important;
  }
}

.breadcrumb {
  padding-top: 22px;
}

.sidebar-nav .breadcrumb {
  padding-top: 0.75rem;
}

.breadcrumb-menu {
  padding-top: 10px;
}

.sidebar-nav .breadcrumb-menu {
  //padding-top: 0.75rem;
}

.sidebar-nav .breadcrumb {
  padding-top: 22px;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  background-color: #002e5a;
  color: white;
  border-bottom: 1px solid #cfd8dc;
}

.sidebar-nav {
  padding-top: 10px;
}

body:not(.top-nav) .sidebar ul.nav li.nav-item a.nav-link.active i {
  color: #b10e23;
}

body:not(.top-nav) .sidebar ul.nav li.nav-item a.nav-link:hover {
  background: #b10e23;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: white;
  background: #002e5a;
}

label {
  font-weight: 500;
}

.card-fau {
  background-color: #002e5a;
}

body {
  padding-top: 10px;
  background: url("/assets/img/images/loginbackgroundfaded.png");
  background-size: cover;
}

body.sidebar-nav .main {
  //padding-left: 200px;
  width: 100%;
  padding: 0;
  padding-top: 55px;
  margin: 0;
  height:100%;
  overflow: hidden;
}

body.sidebar-nav .footer {
  left: 0px;
}

.main .container-fluid {
    padding: 0 30px;
    margin-bottom: 60px;
}
.helpdropdown{
  overflow: scroll;
    width: 250px;
    height:306px;
    background: #b10e23;
    color: white;
    position: absolute;
    padding: 15px;
    right: 0px;
    box-shadow: 0px 0px 15px 0px black;
    z-index: 99999;
    border-radius: 10px;
    transition: 1s;
}
.helpdropdown:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #b10e23;
    right: 20px;
    top: -15px;
  }
.underlined{
  position:relative;
  width:auto;
}
.underlined:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    position: absolute;
    left: 0px;
    bottom: -5px;
}
.dropdown-menu {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border: 0px;
}
.navbar-toggler {
  border-radius: 0;
}
